@font-face {
	font-family: "poppins";
	src: url("../fonts/ttf/Poppins-Regular.ttf") format("TrueType");
}
@font-face {
	font-family: "poppinsb";
	src: url("../fonts/ttf/Poppins-Bold.ttf") format("TrueType");
}
:root {
	overflow: hidden;
	font-size: 16px;
}
body,
html {
	height: 100vh;
	overflow: hidden;
	font-size: 16px;
	letter-spacing: 0;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "poppins";
	background-color: #000;
}
.effect_container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	filter: blur(80px);
}
.skew {
	animation: skew 12s linear infinite;
}

@keyframes skew {
	0%,
	50%,
	100% {
		transform: skew(0deg);
	}
	25% {
		transform: skew(-39deg);
	}
	75% {
		transform: skew(39deg);
	}
}
.rotate {
	width: 95vw;
	height: 95vh;
	max-width: 460px;
	max-height: 440px;
	background-image: linear-gradient(to right, #42a5f5 10%, #9575cd 90%);
	border-radius: 100%;
	animation: rotate 6s linear infinite;
}
@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.login_card {
	position: fixed;
	inset: 0;
	top: 50%;
	left: 50%;
	width: 27vw;
	max-width: 390px;
	height: 470px;
	transform: translate(-50%, -50%);
	background-color: rgba(250, 250, 250, 0.05);
	border-radius: 20px;
	padding-left: 30px;
	padding-right: 30px;
	overflow: hidden;
}
.shine {
	position: absolute;
	width: 80px;
	height: 800px;
	transform: skew(-45deg);
	bottom: 400px;
	background-image: linear-gradient(
		to right,
		transparent,
		rgba(255, 255, 255, 0.15),
		transparent
	);
	transition: bottom 1s ease;
}
.login_card:hover > .shine {
	bottom: -1000px;
}
h1 {
	text-align: center;
	margin-right: 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
h1,
h2 {
	margin-top: 20px;
	color: rgba(255, 255, 255, 0.9);
	letter-spacing: 1.2px;
	margin-left: 15px;
	margin-bottom: 3px;
	font-family: "poppinsb";
	font-weight: normal;
}

form {
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
	margin-top: 17px;
}
input {
	font-size: 1px;
}
.email,
.password {
	font-family: "poppins";
	display: block;
	outline: 0;
	max-width: 350px;
	width: 24vw;
	height: 50px;
	border-radius: 25px;
	border: none;
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2) inset;
	background-color: rgba(255, 255, 255, 0.06);
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
	padding: 18px;
	font-size: 18px;
	color: rgba(255, 255, 255, 0.9);
}
input::placeholder {
	font-weight: 100;
	font-size: 12px;
	opacity: 1;
	color: rgba(255, 255, 255, 0.4);
	letter-spacing: 0.5px;
	font-family: "poppins";
}
.button_container {
	position: absolute;
	bottom: 4%;
	left: 50%;
	transform: translateX(-50%);
	width: 20vw;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
	position: absolute;
	bottom: 4%;
	left: 50%;
	width: 287px;
	height: 50px;
	border-radius: 30px;
	transform: translateX(-50%);
	line-height: 50px;
	font-size: 18px;
	background-color: rgb(255, 255, 255, 0.05);
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(
		to right,
		rgba(10, 10, 10, 0.2),
		transparent
	);
	box-shadow: 0 0 3px 0.1px rgba(10, 10, 10, 0.32);
	cursor: pointer;
	outline: 0;
	border: 0;
	color: rgba(255, 255, 255, 0.9);
	-webkit-tap-highlight-color: transparent;
	font-family: poppinsb;
}
.button_effect {
	width: 0px;
	height: 0px;
	margin-bottom: 4px;
	background-color: rgba(0, 229, 255, 0.6);
	border-radius: 100%;
	position: absolute;
	transition: all 250ms ease;
	z-index: -1;
	filter: blur(10px);
}
.button:hover + .button_effect {
	width: 276px;
	height: 40px;
	box-shadow: 0px 0px 10px 6px rgba(0, 229, 255, 0.6);
	border-radius: 30px;
}

@media screen and (max-width: 1300px) {
	.rotate {
		width: 95vw;
		height: 95vh;
	}
	.login_card {
		width: 35vw;
		height: 70vh;
		max-height: 450px;
	}
	.email,
	.password {
		width: 32vw;
	}
}
@media screen and (max-width: 950px) {
	.rotate {
		width: 95vw;
		height: 95vh;
	}
	.login_card {
		width: 48vw;
		height: 65vh;
	}
	.email,
	.password {
		width: 45vw;
	}
}
@media screen and (max-width: 750px) {
	.rotate {
		width: 95vw;
		height: 95vh;
	}
	.login_card {
		width: 63vw;
		height: 75vh;
	}
	.email,
	.password {
		width: 350px;
	}
}
@media screen and (max-width: 580px) {
	.rotate {
		width: 95vw;
		height: 95vh;
	}
	form {
		margin-top: 14px;
	}
	.login_card {
		width: 90vw;
		height: 75vh;
	}
	.email,
	.password {
		width: 350px;
	}
}
@media screen and (max-width: 480px) {
	.rotate {
		width: 95vw;
		height: 95vh;
	}
	.login_card {
		width: 90vw;
		height: 60vh;
		max-height: 450px;
	}
	form {
		margin-top: 14px;
	}
	body {
		font-size: 0.87em;
	}
	.email,
	.password {
		width: 83vw;
	}
}
@media screen and (max-width: 378px) {
	.button {
		width: 78vw;
	}
	form {
		margin-top: 15px;
	}
	.email,
	.password {
		width: 83vw;
	}
}
@media screen and (max-height: 750px) {
	.login_card {
		min-height: 455px;
	}
}
